 *{
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
}
.container{
    height: 100vh;
    display: grid;
    grid-template-areas: 
    "h h"
    "s m"
    "f f";
    gap: 10px;
    grid-template-columns: 250px 1fr;
    grid-template-rows: auto 1fr auto;

}
header{
    grid-area: h;
    background-color: rgba(48, 169, 12, 0.927);
    color: rgb(253, 250, 250);
    text-align: center;
    font-weight: bold;
    padding: 10px;
    font-size: 30px;
}
footer{
    grid-area: f;
    background-color: rgba(26, 25, 25, 0.881);
    color: white;
    text-align: center;
    font-weight: bold;
    padding: 10px;
    font-size: 30px;
}
aside{
    grid-area: s;
    background-color: beige;
     color: rgb(21, 17, 17);
    text-align: center;
    font-weight: bold;
    padding: 10px;
    font-size: 30px;
   
}
 main{
    grid-area: m;
   background-color: rgb(211, 209, 207);
     color: rgb(30, 26, 26);
    text-align: center;
    font-weight: bold;
    padding: 10px;
    font-size: 30px;
 }